/*
Styling for the "Lottery Number Picker" web app
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #0000ff;
    font-family: "Estrangelo Edessa";
}

#container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

h1 {
    text-align: center;
    margin: 5%;
    font-size: 7vw;
}

#balls {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    height: 375px;
}

div.ball {
    border: 2px solid blue;
    /*border-radius: 50%;*/
    border-radius: 100%;
    background: red;
    width: 50%;
    height: 50%;
}

div.ball p {
    /*
    position: relative;
    top: 25%;
    left: 40%;
    */
    text-align: center;
    /*margin-top: 30%;*/
    margin-top: 40px;
    font-size: 12vw;
}

#instruction {
    display: none;
}

#draw-button {
    
    /*margin-top: 2%;*/
}

button {
    /*
    position: absolute;
    top: 25%;
    left: 40%;
    */
    background: blue;
    color: red;
    font-family: "Estrangelo Edessa";
    width: 50%; 
    margin-top: 290px;
    margin-left: 25%;
    /**
    padding: 12px;
    */
    padding: 4%;
    border: 4px solid red;
    border-radius: 5%;
    font-size: 6vw;
    text-align: center;
    
}

button:hover {
    background: red;
    color: blue;
    transition: background, color 0.5s;
}

#result {
    display: none;
    border: 1px solid grey;
    margin-top: 80%;
}

/**BREAKPOINTS**/
@media screen and (min-width: 640px) {
    #balls {
        margin-left: 11.5%;
        width: 70%
    }
    
    div.ball {
        width: 30%;
        height: 50%;
        margin: 1%
    }
    
    div.ball p {
        font-size: 8vw;   
    }
    
    button {
        margin-top: 15%;
        margin-left: 20%;
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 4vw;
    }
    
    #balls {
        width: 80%;
/*        margin-left: 12%;*/
    }
    
    div.ball {
        width: 13.5%;
        
    }
    
    div.ball p {
        font-size: 5vw;
        
    }
    
    #instruction {
        display: block;
        text-align: center;
        font-size: 2vw;
        margin: 2%;
    }

    button {
        /**margin-top: 20%;
        margin-left: 12.5%;
        width: 75%;
        */
        margin-top: 1%;
        font-size: 4vw;
        padding: 1%;
    }
}
